@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "friend.css";
@import "friends.css";
@import "find.css";
@import "more.css";
@import "settings.css";
@import "chat.css";

* {
  box-sizing: border-box;
  /* 패딩이 있어도 박스 크기를 패딩만큼 늘리지 않고 그대로 유지한다.
    박스 사이즈가 그대로 유지되므로 안에 들어있는 컨텐츠가 밀리지 않는다.*/
}
body {
  background-color: white;
  padding: 10px 20px;
  color: #020202;
}

a {
  color: inherit;
  /*inherit -> 부모 요소로부터 색깔을 받아온다.*/
  text-decoration: none;
}
